.popup__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  margin: 75px 0 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.popup__input:last-of-type {
  margin: 0 0 45px;
}

.popup__input:focus {
  outline: none;
}
